SLING_PREFIX="sling"
PROPOSED_PREFIX="proposed"

# SOURCE_TARGET_SPEC="--source-prefix step1 --target-prefix step2"
SOURCE_TARGET_SPEC=""

SERVER_WORKDIR="/build-workdir"
SERVER_LOCKFILE="/tmp/sling.lock"
SERVER_OPTIONS="-d 60 --match-dry-run-branches '^$' $SOURCE_TARGET_SPEC"

GIT_REPO="git@github.com:Elastifile/example-project-system.git"
GIT_CLONE_DIR_NAME="example-project-system"

PREPUSH_COMMAND="bash -c 'cd example-project && ./tools/prepush.sh'"
